asgiref==3.8.1
certifi==2025.8.3
charset-normalizer==3.4.2
Django==5.2.3
django-ckeditor==6.7.3
django-js-asset==3.1.2
djangorestframework==3.17.1
gunicorn==25.3.0
idna==3.10
numpy==2.4.4
opencv-python==4.13.0.92
packaging==26.0
pillow==11.3.0
pytesseract==0.3.13
pytube==15.0.0
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.12.0
